        body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #AEA7D9;
    color: #4A088C;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #865FD9;
    padding: 15px 40px;
}

header a {
    color: #4A088C;
    text-decoration: none;
    margin-left: 20px;
}

.logo {
    font-size: 22px;
}

#welcome-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #AEA7D9;
    color: #4A088C;
}

#welcome-screen button {
    padding: 15px 40px;
    background: #4A088C;
    color: #AEA7D9;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
}

#main-site {
    display: none;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.product-card {
    background: #AEA7D9;
    color: #120540;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.product-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.cart {
    background: #AEA7D9;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #727FA6;
    padding: 10px;
    text-align: center;
}

button {
    cursor: pointer;
}